button {
    background-color: blue;
    color: white;
    border: none;  margin-left: 100px;
    border-radius: 10px;
}

button:hover{
    background-color: yellow;
    color: blue;
}

.letak { text-align:center; }
